<%- partial('_partial/head') %>
<body>
<div id="container">
<%- partial('_partial/header', null, {cache: !config.relative_link}) %>
<div id="content">
<h2><a href="https://www.instagram.com/simonhsia" target="_blank">instagram</a></h2>
<h2><a href="https://twitter.com/Simonx006" target="_blank">twitter</a></h2>
</div>
</div>
<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
</body>
</html>